/*
PALETTE
dark-maroon: #500;
dark-grey: #555;
*/

body {
	position: relative;
	width: 100vw;
	text-align: center;
	background-color: #FFF;
	overflow-x: hidden;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.intro-container {
	height: 100%;
	position: relative;
}

.navigator {
	margin-top: 1%;
	padding-right: 1vw;
	text-align: right;
	letter-spacing: 1px;
}

.name > h1 {
	font-size: 6em;
	color: #500;
}

.name > h2 {
	font-size: 1.3em;
	color: #555;
}

.content-container {
	width: 1280px;
	max-width: 100%;
	overflow: hidden;
	box-sizing: border-box; /* Not sure what this does */
	margin: 120px auto 0;
	padding: 40px;
}

.content-container > h1 {
	font-size: 3em;
	font-weight: bold;
	color: #3a296f;
}

.content-container > h3 {
	font-family: "Gill Sans", sans-serif;
	font-weight: 1;
}

.content-container td {
	padding: 20px;
	position: relative;
	vertical-align: top;
}
.item {
	width: 300px;
	height: 300px;
	padding: 10px;
	font-family: "Trebuchet MS", sans-serif;
	font-weight: 100;
	border: 2px solid black;
	border-radius: 10px; /* Rounded corners */
}

.title {
	background-color: #93a1bf;
}

.outro-container {
	padding: 50px;
	background-color: #400;
	text-align: left;
	color: #FFF;
}


