/*
PALETTE
dark-maroon: #500;
dark-grey: #555;
*/

body {
	margin: 0px;
	position: relative;
	width: 100vw;
	text-align: center;
	background-color: #FFF;
	overflow-x: hidden;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.intro-container {
	width: 100%;
	height: 1000px;
	position: relative;
	background-image: url("../images/mountains.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.navigator {
	margin-top: 1%;
	padding-right: 1vw;
	text-align: right;
	letter-spacing: 1px;
}

.name > h1 {
	font-size: 6em;
	color: #500;
}

.name > h2 {
	font-size: 1.3em;
	color: #555;
}

.content-container {
	width: 1280px;
	max-width: 100%;
	overflow: hidden;
	box-sizing: border-box; /* Not sure what this does */
	margin: 120px auto 0;
	padding: 40px;
}

#hello {
	background-image: url("./images/hello.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 550%;
}

#work {
	background-image: url("../images/texture.jpg");
	background-position: center;
	background-repeat: repeat;
	background-size: 100% 100%;
	box-shadow: 0 0 20px 20px white inset;
}

#projects {
	background-image: url("../images/texture4.jpg");
	background-position: center;
	background-repeat: repeat;
	background-size: 100% 100%;
	box-shadow: 0 0 20px 20px white inset;
}

#academia {
	background-image: url("../images/texture5.jpg");
	background-position: center;
	background-repeat: repeat;
	background-size: 100% 100%;
	box-shadow: 0 0 20px 20px white inset;
}

#ivey {
	background-image: url("../images/finance.jpg");
	background-size: 200% 100%;
}

#western {
	background-image: url("../images/engineering.jpg");
	background-size: 200% 100%;	
}

#crescent {
	background-image: url("../images/textbooks.jpg");
	background-size: 200% 100%;		
}

.content-container > h1 {
	font-size: 3em;
	font-weight: bold;
	color: #3a296f;
}

.content-container > h3 {
	font-family: "Gill Sans", sans-serif;
	font-weight: 1;
}

.content-container td {
	padding: 20px;
	position: relative;
	vertical-align: top;

}
.item {
	width: 300px;
	height: 300px;
	padding: 10px;
	font-family: "Trebuchet MS", sans-serif;
	font-weight: 100;
	border: 2px solid black;
	border-radius: 10px; /* Rounded corners */
	box-shadow: 5px 5px 50px #999;
}

.title {
	/*background-color: #93a1bf;*/
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	/*font-variant: small-caps;*/
	font-weight: 1000;
	font-size: 1.1em;
}

.outro-container {
	padding: 50px;
	background-color: #400;
	text-align: left;
	color: #FFF;
}


