/*
PALETTE
dark-maroon: #500;
dark-grey: #555;
*/

body {
	margin: 0px;
	position: relative;
	width: 100vw;
	text-align: center;
	background-color: #FFF;
	overflow-x: hidden;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.intro-container {
	width: 100%;
	height: 1000px;
	position: relative;
	background-image: url("../images/mountains.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.navigator {
	padding-right: 1vw;
	text-align: right;
	letter-spacing: 1px;
}

.navigator a {
	margin-right: 10px;
}

.navigator a:link, a:visited {
	color: #555;
	text-decoration: none;
}

.navigator a:hover {
	color: black;
	font-weight: bold;
	letter-spacing: 0.66px;
}

.name > h1 {
	font-size: 6em;
	color: #500;
}

.name > h2 {
	font-size: 1.3em;
	color: #555;
}

.content-container {
	width: 1280px;
	max-width: 100%;
	overflow: hidden;
	margin: 120px auto 0;
	padding: 0px 40px 40px 40px; /* No padding at top */
	border-radius: 10px;
	background-color: #e1e4e4;
}

#hello {
	margin-top: 120px;
	padding: 50px 0px 50px 0px;
	vertical-align: middle;
	background-image: url("../images/hello.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 50% 80%;
}

#work {
	color: white;
	
}

#quant {
	background-image: url("../images/work/code.jpg");
	background-size: 200% 100%;
}

#residence {
	background-image: url("../images/work/residence.jpg");
	background-size: 200% 100%;
}

#director {
	background-image: url("../images/work/tennis.jpg");
	background-size: 150% 100%;
}

#ivey {
	background-image: url("../images/academia/finance.jpg");
	background-size: 200% 100%;
}

#western {
	background-image: url("../images/academia/engineering.jpg");
	background-size: 200% 100%;	
}

#crescent {
	background-image: url("../images/academia/textbooks.jpg");
	background-size: 200% 100%;		
}

.content-container > h1 {
	font-size: 3em;
	font-weight: bold;
	color: #2e2e2e;
}

.content-container > h3 {
	font-family: "Gill Sans", sans-serif;
	font-weight: 1;
}

.content-container td {
	padding: 20px;
	position: relative;
	vertical-align: top;

}
.item {
	width: 300px;
	height: 300px;
	padding: 10px;
	font-family: "Assistant", sans-serif;
	font-weight: 100;
	border: 1.5px solid black;
	box-shadow: 5px 5px 50px #999;
}

.title {
	/*background-color: #93a1bf;*/
	font-family: "Quicksand", sans-serif;
	/*font-variant: small-caps;*/
	font-size: 1.1em;
}

.outro-container {
	margin-top: 50px;
	padding: 50px;
	background-color: #400;
	text-align: left;
	color: #FFF;
}


